<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig mustMatch="false" allowedReferers="*">
    <serverUrls>
      <serverUrl url="http://map1dev.ad.bluedot.global:6080/arcgis/" username="map1dev_user" password="Bluedot@2015" matchAll="true" ></serverUrl>
      <serverUrl url="http://www.services.arcgisonline.com/" matchAll="true"/>
      <serverUrl url="http://js.arcgis.com/" matchAll="true"/>
      <serverUrl url="http://www.arcgis.com/" matchAll="true"/>
      <serverUrl url="http://sampleserver6.arcgisonline.com/" matchAll="true"/>
      <serverUrl url="http://sampleserver1.arcgisonline.com/" matchAll="true"/>
      <!--<serverUrl url="http://map1.bluedot.global/" matchAll="true"/>-->
    </serverUrls>
</ProxyConfig>
